<a href="https://colab.research.google.com/github/aakash9691/PYTH_Homework_Submissions./blob/master/Homework_basic_data_inclass_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/mottaquikarim/PYTH2/blob/master/src/PSETS/nb/basic_data_inclass_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  BASIC DATA TYPES

## BASICS

### P1.PY

In [0]:
"""
Placeholders
"""

# You're writing a program, and you don't know what your starting value for your 'initial' variable is yet. The program won't run if you leave it blank, but you don't want to forget you need it! Make a workaround.
variable = "Python Coding"
print(variable)

Python Coding



### P2.PY

In [0]:
"""
Basic Variables
"""

# Create a variable that represents your favorite number, and add a note to remind yourself what this variable represents. Now print it out without re-typing the number.

Numr = 3
print(Numr)

# Create another variable that represents your favorite color, and do the same steps as above.

Fav_color = "Green"

print(Fav_color)

3
Green



### P3.PY

In [0]:
"""
String Formatting
"""

# Create a variable that contains the first 4 lines of your favorite song. Add a comment that includes the song title and artist **each on their own line**! Now print out this variable.

Fav_song = "Cold_Play : Magic\n Call it magic, call it true\n I call it magic when I'm with you\n And I just got broken, broken into two\n Still I call it magic, when I'm next to you "
print(Fav_song)

Cold_Play : Magic
 Call it magic, call it true
 I call it magic when I'm with you
 And I just got broken, broken into two
 Still I call it magic, when I'm next to you



## TYPECASTING

### P1.PY

In [0]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as its data type.

five = 5
zero = 0
neg_8 = -8
neg_22 = -22

converter_for_5 = float(five)
print(converter_for_5)
print(type(converter_for_5))

converter_for_0 = float(zero)
print(converter_for_0)
print(type(converter_for_0))

converter_for_neg_8 = float(neg_8)
print(converter_for_neg_8)
print(type(converter_for_neg_8))

converter_for_neg_22 = float(neg_22)
print(converter_for_neg_22)
print(type(converter_for_neg_22))

con_back_5 = int(converter_for_5)
print(con_back_5)
print(type(con_back_5))

con_back_0 = int(converter_for_0)
print(con_back_0)
print(type(con_back_0))

con_back_8 = int(converter_for_neg_8)
print(con_back_8)
print(type(con_back_8))

con_back_22 = int(converter_for_neg_22)
print(con_back_22)
print(type(con_back_22))

5.0
<class 'float'>
0.0
<class 'float'>
-8.0
<class 'float'>
-22.0
<class 'float'>
5
<class 'int'>
0
<class 'int'>
-8
<class 'int'>
-22
<class 'int'>



### P2.PY

In [0]:
"""
Typcasting w. Strings
"""

# Convert these variables into strings and then back to their original data types. Print out each result as well as its data type. What do you notice about the last one?

five = 5
zero = 0
neg_8 = -8
T = True
F = False

string_for_5 = str(five)
print(string_for_5)
print(type(string_for_5))

string_for_0 = str(zero)
print(string_for_0)
print(type(string_for_0))

string_for_8 = str(neg_8)
print(string_for_8)
print(type(string_for_8))

5
<class 'str'>
0
<class 'str'>
-8
<class 'str'>



### P3.PY

In [0]:
"""
Booleans I - Typecasting w. Numbers
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0

bool_1 = bool(one)
bool_0 = bool(zero)
print(bool_1)
print(bool_0)

# B) Use typecasting to turn the resultant variables from part A into floats. Print the result and the datatype of the result.

float1 = float(bool_1)
float0 = float(bool_0)
print(float1)
print(type(float1))
print(float0)
print(type(float(0)))

# C) Use typecasting to turn the resultant variables from part B back into booleans. Print the result and the datatype of the result.

bool_back1 = bool(float1)
print(bool_back1)
print(type(bool_back1))

bool_back0 = bool(float0)
print(bool_back0)
print(type(bool_back0))


# C) Use typecasting to turn the resultant variables from part C into integers. Print the result and the datatype of the result.

int1 = int(bool_back1)
print(int1)
print(type(int1))

int2 = int(bool_back0)
print(int2)
print(type(int2))

# E) Use typecasting to turn the variable below into a boolean value. Print the result and the datatype of the result. 

ten = 10

bool_ten = bool(ten)
print(bool_ten)
print(type(bool_ten))

True
False
1.0
<class 'float'>
0.0
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>
1
<class 'int'>
0
<class 'int'>
True
<class 'bool'>



### P4.PY

In [0]:
"""
Booleans II - Typecasting w. Strings
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0
bool_true = True
bool_false = False


# B) Use typecasting to turn the latest values for variables 'one' and 'zero' back into integers. Print the result and the datatype of the result.



# C) Use typecasting to turn the latest values for variables 'bool_true' and 'bool_false' back into boolean values. Print the result and the datatype of the result.



## OPERATORS

### P1.PY

In [5]:
"""
Integer & Float Operators
"""

# Complete the specified math operations. Do the next operation on the result from the previous operation.

orig_var = 100

# Add 50
addition = orig_var + 50
print(addition)

# Subtract 90

subtract = addition - 90

print(subtract)

# Multiply 10

mult = subtract * 10
print(mult)

# Divide 150

Div = mult/150
print(Div)

# Modulus 3

mod = Div % 3
print(mod)

150
60
600
4.0
1.0



### P2.PY

In [11]:
"""
String Operators
"""

# Create two variables, each of which is half of a compound sentence. Do NOT add any punctuation up front. Add the two variables together, and print the result.
## Example compound sentence: "I'll go to the beach today, and I'll go snorkeling." 

var1 = 'Today is Friday'
var2 = 'Lets grab a drink'

compound = var1 + " and " + var2

print(compound)

Today is Friday and Lets grab a drink



### P3.PY

In [14]:
"""
Addition I - Numbers & Strings
"""

# Add the below sets of variables together.

# A)
a = 0
b = 2

add1 = a + b
print(add1)


# B)
c = '0'
d = '2'

print(c+d)

# C)
e = "0"
f = 2

print(e+f)

2
02

TypeError: ignored



### P4.PY

In [16]:
"""
Addition II - Booleans
"""

# Add the below sets of variables together.

# A)
a = True
b = True

print(a+b)



# B)
c = False
d = False

print(c+d)

# C)
e = True
f = False

print(e+f)

2
0
1